@import 'Header';
@import 'Footer';

.verification-code-input {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    text-align: center;
  }

  input {
    text-align: center;
    font-family: monospace;
    border-radius: 12px;
    border: 1px solid lightgrey;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
    margin: 4px;
    padding-left: 0px;
    padding-right: 0px;
    width: 48px;
    height: 48px;
    font-size: 20px;
    box-sizing: border-box;
    color: black;
    background-color: white;
  }
}
